#speciesid-highlight {
    background-color: yellow;
}

#speciesid-list {
    height: 25vw;
    overflow-y: auto
}

.speciesid-element {
    padding-bottom: 10px;
}

.speciesid-green {
    color: darkgreen;
    font-weight: bold;
}

.speciesid-red {
    color: darkred;
    font-weight: bold;
}

.speciesid-darkbutton {
    filter: brightness(75%);
}

.speciesid-species {
    font-size: 18px;
}

.speciesid-user {
    font-size: 12px;
}

#speciesid-textbox {
    padding-top: 1vw;
    padding-bottom: 1vw;
    width: 80%;
}

#speciesid-formpad {
    padding-right: 7px;
}