div.page {
  background-color: #FFFFFF;
  margin: 0 3%;
  align-items: center;
  display: flex
}

div.gallery {
  width: 20;
}

.inputs {
  width: 50%;
  border: 1px solid black;
  float: left;
  padding: 2%;
  border-spacing: 10px;
  text-align: center;
}


#long {
  width: 30%;
}

#lat {
  width: 30%;
}

#spinput{
  width: 62%;
}

#title{
  text-align: left;
  margin: 0 5%;
}

#map {
  width: 50%;
  float:right;
}

.img {
  object-fit: scale-down;
  object-position: center;
  height: 250px;
}

