div.page {
  background-color: #FFFFFF;
  margin: 0 3%;
  align-items: center;
  display: flex
}

div.gallery {
  width: 20;
}

.inputs {
  width: 50%;
  border: 1px solid black;
  float: left;
  padding: 2%;
  border-spacing: 10px;
  text-align: center;
}


#long {
  width: 25%;
}

#lat {
  width: 25%;
}

#zoom {
  width: 10%;
}

#spinput{
  width: 62%;
}


#map {
  width: 50%;
  float:right;
}

div.gallery {
  align-items: center;
  justify-content: center;
  text-align: center;
}

.img {
  object-fit: cover;
  object-position: center;
  height: 200px;
  width: 250px;
  padding: .5%
}

