.map-overall {
    padding-left: 5%;
    padding-right: 5%;
}

.map-td:nth-child(1) {
    width: 30vw;
    text-align: center;
}

.map-td:nth-child(2) {
    width: 70vw;
}

.searchBar {
    text-align: center;
}

.input {
    font-size:14pt;
    width: 70%;
}

.button {
    font-size: 12pt;
}

.searchTable {
    border: 0px;
    margin-left: auto;
    margin-right: auto;
    width:95vw!important;
}

