.header-center {
    text-align: center;
}

.header-link:link, .header-link:visited {
    text-decoration: none;
    color: green;
}

.header-table {
    border: 1px solid black;
    margin-left: auto;
    margin-right: auto;
    width:95vw!important;
}

